/*   box-sizing   */

html{
    box-sizing: border-box;
    font-size: 62.5%;
}

*,*:before,*:after{
    box-sizing: inherit;
}

/*   base   */


body{
    font-family: "Roboto", sans-serif;
    font-weight: 400;
    font-style: normal;

   /* font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: <weight>;
    font-style: normal;*/

    border-top: 4px solid #E25254;
}

.wrapper{
    width: 1200px;
    margin: 0 auto;
}

/*   header   */

header{
    font-size: 1.8rem;
    color: white;
    height: 70px;
}

header .Logo{
    font-size: 4.2rem;
}

header div{
    display: flex;
    justify-content: space-between;
    align-items: center;
}

header ul{
    display: flex;
    gap: 10px;
    justify-content: center;
    list-style: none;
}

header li a{
    color: #474747;
}

header li a:hover{
    color: #E25254;
    border-bottom: 1px solid #E25254;

}

a{
    text-decoration: none;
}

.Logo a{
    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    color: #474747;
}

/*   contenue principale   */

.hero{
    background-image: url(../images/SECTION\ BANNIERE.png);
    height: 600px;
    background-repeat: no-repeat;
    background-size: cover;
}

div.boite{
    height: 510px;
    width: 600px;

    float: right;
    

    background-color: rgba(226, 82, 84, 0.90)
}

.boite{
   padding: 50px 30px 87px 30px; 
   margin: 45px 0 0 0;
}

.boite p{
    font-size: 1.8rem;
    color: white;
}

.boite h1{
    font-size: 4.8rem;
    margin: 30px 0 35px 0;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    color: white;
}

.portfolio{
    font-size: 1.8rem;
    color: white;
    background-color: #C0392B;
    text-align: right;
    float: right;

    padding: 10px 20px 10px 20px;
    
}

.portfolio:hover{
    background-color: white;
    color: #C0392B;
}

.contenu{
    height: 725px;
    background-color: #ECF0F1;
}

.contenu p{
    font-size: 1.8rem;
}

.contenu h2{
    font-size: 3.9rem;

    font-family: "Josefin Sans", sans-serif;
    font-optical-sizing: auto;
    font-weight: 700;
    font-style: normal;

    margin: 0 0 0 0;
    padding: 80px 0 6px 0;

    color: #474747;
}




